body {background-color: #A8B7A4;}

p {color: #000;}

a {color: #DAD2CF;}
a:hover {color: #11c226;}
a:visited {color: #c21146;}

h1 {color: #de5021;}

h2 {color: #ed6d42;}

nav {background-color: #c0d1c5;
    padding: 10px;
    margin-bottom: 30px;}
nav a{color: #ed6d42;}
nav a:hover{color:#11c226;}
